.simple-dialog-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10000;
}

.simple-dialog {
    background: #fff;
    width: 90%;
    max-width: 640px;
    min-height: 280px;

    border-radius: 16px;
    padding: 48px 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);

    animation: completeFadeUp 0.5s ease;
}

.simple-dialog__text {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 1.8;
}
