.hero {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 750px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.hero__content {
    position: relative;
    z-index: 1;

    max-width: 1200px;
    padding: 0 48px;

    color: #fff;
    text-align: right;
}

.hero__content button {
    margin-right: 270px;
}

.hero__title {
    font-size: 56px;
    font-weight: 10;
    line-height: 1.5;
    margin-right: 150px;
    margin-bottom: 80px;
}

.sanpai__lecture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 80px;
    margin-bottom: 160px;

    h2 {
        font-size: 32px;
        /* margin-bottom: 80px; */
    }
    .lecture__wraper {
        display: flex;
        gap: 150px;
        .lecture__wrap {
            width: 240px;
            span {
                display: block;
                width: 240px;
                height: 240px;
                border-radius: 100%;
                background-size: contain;
                background-position: center;
                margin-bottom: 30px;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    font-family: "Roboto";
                    font-weight: 500;
                    font-size: 24px;
                    width: 45px;
                    padding-bottom: 5px;
                    border-bottom: 2px #000 solid;
                    margin: 0;
                }
                h3 {
                    font-family: "Roboto";
                    font-size: 48px;
                    font-weight: 800;
                    margin: 0;
                }
            }
            p {
                font-size: 14px;
                font-family: "Roboto";
                font-weight: 500;
            }
        }
    }
}

.omikuji__wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    h2 {
        font-size: 40px;
        margin-bottom: 100px;
    }
    .omikuji__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        div {
            display: flex;
            gap: 40px;
            div {
                width: 400px;
                height: 700px;
                background-size: contain;
                background-position: center;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-family: "Roboto";
        font-size: 14px;
    }
}
