.button.red {
    font-family: "Noto Serif JP", serif;
    background-color: #AB2020;
    color: #ffffff;
    font-family: "Noto Sans JP", sans-serif;
    border-radius: 9999px;
    padding: 20px 60px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    border: none;
    cursor: pointer;
    transition: opacity 0.15s ease;
}

.button.red:hover {
    background-color: #AB2020;
    transform: scale(1.03);
}