.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #AB2020;
    z-index: 1000;
}

.header_inner {
    width: 100%;      
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header_logo a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 50px;
}

.header_nav {
    display: flex;
    gap: 32px;
    padding: 50px;
}

.header_nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.header_nav a:hover {
    opacity: 0.7;
}